/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.layout {
  width: 960px;
  margin: 0 auto;
}
.heroBanner {
  position: relative;
  overflow: hidden;
  color: #000;
  background: #fff;
  border-bottom: 1px solid #e7edf9;
  height: 500px;
}

.heroBanner {
}

.svg {
  position: absolute;
  right: 10%;
  bottom: 20px;
  width: 500px;
  height: 300px;
  color: #ccc;
}

[data-theme='dark'] .svg {
  color: #fff;
}

[data-theme='dark'] .heroBanner {
  background: #293856;
  color: #fff;
  border-bottom: 1px solid #293856;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.introHeader {
  text-align: left;
  width: 420px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 36px;
}

.main h1 {
  margin: 42px 0 18px;
}

.main h2 {
  margin: 30px 0 18px;
}
